.btn {
  height: 40px;
  min-width: 100px;
  border-radius: 10px;
  background-color: #fafcff;
  font-size: 14px;
  letter-spacing: .1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border: 1px solid black;
  text-decoration: none;
  color: inherit;
}

.btn:hover {
  background-color: rgb(221, 221, 221);
}

.text__wrapper {
    margin-right: 10px;
    display: block;
}

.icon__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

pre {
  font-size: 12px;
  padding: 12px;
  background: antiquewhite;
  border-radius: 5px;
}